.logoContainer {
    margin: 0 auto;
    max-width: 100%;
}

.logoContainer > img {
    max-width: 100%;
}

nav {
    text-align: center;
}
.linksDesktop > a {
    display: block;
    margin: 0.25rem auto;
    font-size: 1rem;
    cursor: pointer;
}

nav > img {
    display: block;
    margin: auto;
    max-width:50%;
}

.socialsDesktop {
    margin-top: 1rem;
}

.socialSvg {
    display: inline;
    width: 15%;
    margin: 0 2px;
}